@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    background-color: #f9f9f9;
}

.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.header {
    margin-bottom: 20px;
}

img {
    width: 25px;
}

.header_skip {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
}

.skip-button {
    float: right;
    background: none;
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #959595;
    cursor: pointer;
    margin-bottom: 13px;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #000;
    margin: 10px 0;
}

.p1 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #959595;
}

.video-container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.fever {
    color: #F16675;
}

video {
    width: 100%;
    border-radius: 10px;
}

.next-button {
    background-color: #F16675;
    color: white;
    border: none;
    padding: 16px 74px; /* 74px à gauche et à droite, 16px en haut et en bas */
    margin-top: 100px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: 600; /* SemiBold */
    font-size: 14px; /* Taille 14px */
}
